<% layout('boilerplate') -%>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="<%= product.image %>" alt="<%= product.name %>">
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3><%= product.name %></h3>
      <h1><%= product.price %></h1>

      <form action="" method="post">
        <div class="btn-group" role="group" aria-label="...">
          <input type="hidden" name="quantity" id="quantity" value="1"></input>
          <button class="btn btn-default" type="button" id="minus">-</button>
          <button class="btn btn-default" type="button" id="total">1</button>
          <button class="btn btn-default" type="button" id="plus">+</button>
        </div>
        <div class="form-group">
          <input type="hidden" name="product_id" id="quantity" value="<%= product._id %>"></input>
          <input type="hidden" name="priceHidden" id="priceHidden" value="<%= product.price %>"></input>
          <input type="text" name="item" class="form-control" value="<%= product.name %>">
          <input type="text" name="priceValue" id="priceValue" class="form-control" value="<%= product.price %>">
        </div>
        <% if (user) { %>
          <button type="button" class="btn btn-primary btl-lg">Add to Cart</button>
        <% }else { %>
          <a href="/signup" class="btn btn-default btn-lg">Signup to start buying!</a>
        <% } %>
      </form>
    </div>
  </div>
</div>
